html, body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3vw;
	margin: 0 auto;
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 0;
}

a {
	text-decoration: none;
	color: rgba(100, 205, 155, 1);
}

a.button_green {
	background: rgba(100, 205, 155, 1);
	color: rgba(255, 255, 255, 1);
	padding: 0.5em;
	font-weight: 500;
	box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, .5);
}

a.button_red {
	background: rgba(235, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	padding: 0.5em;
	font-weight: 500;
	box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, .5);
}

img {
	max-width: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 500;
}

[class*="col-"] {
	float:left; 
	width:100%;
	padding: 1em;
}

.row {
	width: 100%;
} 

header {
	background-image: url("../images/header-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, .5);
}

.more_padding {
	padding: 5em;
}

.less_padding {
	padding: 0;
}

.left {
	text-align: left;
}

header * {
	margin: 5% auto;
}

header *:first-child {
	margin: 0;
}

img.logo_principal {
	width: 20%;
}

.formulario {
	background: rgba(100, 205, 155, 1);
	color: rgba(255, 255, 255, 1);
	height: 100%;

}

.formulario form {
	display: block;
	margin: 5% auto;
	width: 25%;
	text-align: left;
	font-size: 1.25em;
}

.formulario label, .formulario input {
	display: block;
	margin: 2.5% 0;
}

.formulario input {
	margin: 0 0 10% 0;
}

.formulario a {
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
}

.formulario input.button_white {
	background: rgba(255, 255, 255, 1);
	color: rgba(100, 205, 155, 1);
	padding: 0.5em;
	font-weight: 500;
	border: hidden;
	margin: 0 auto;
}

footer {
	background: rgba(100, 205, 155, 1);
	color: rgba(255, 255, 255, 1);
}

footer a {
	color: rgba(255, 255, 255, 1);
}

footer i.fa {
	font-size: 3em;
	margin: 0 0.5em;
}

@media only screen and (min-width: 768px) {

	body {
		font-size: 1vw;
	}
	
	.row:after {content: '';display: block; clear: both;}

	[class*="col-"] {
		float:left;
	}


	.col-1{width: 8.333333333333334%;}
	.col-2{width: 16.666666666666668%;}
	.col-3{width: 25.0%;}
	.col-4{width: 33.333333333333336%;}
	.col-5{width: 41.66666666666667%;}
	.col-6{width: 50.0%;}
	.col-7{width: 58.333333333333336%;}
	.col-8{width: 66.66666666666667%;}
	.col-9{width: 75.0%;}
	.col-10{width: 83.33333333333334%;}
	.col-11{width: 91.66666666666667%;}
	.col-12{width: 100.0%;}

	.col-offset-1{margin-left: 8.333333333333334%;}
	.col-offset-2{margin-left: 16.666666666666668%;}
	.col-offset-3{margin-left: 25.0%;}
	.col-offset-4{margin-left: 33.333333333333336%;}
	.col-offset-5{margin-left: 41.66666666666667%;}
	.col-offset-6{margin-left: 50.0%;}
	.col-offset-7{margin-left: 58.333333333333336%;}
	.col-offset-8{margin-left: 66.66666666666667%;}
	.col-offset-9{margin-left: 75.0%;}
	.col-offset-10{margin-left: 83.33333333333334%;}
	.col-offset-11{margin-left: 91.66666666666667%;}
	.col-offset-12{margin-left: 100.0%;}
}