html, body {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3vw;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.uppercase {
	text-transform: uppercase;
}

[class*="col-"] {
	float:left; 
	width:100%;
	padding:2em;
} 

@media only screen and (min-width: 768px) {

	body {
		font-size: 1vw;
	}
	
	.row:after {content: '';display: block; clear: both;}

	[class*="col-"] {
		float:left;
	}


	.col-1{width: 8.333333333333334%;}
	.col-2{width: 16.666666666666668%;}
	.col-3{width: 25.0%;}
	.col-4{width: 33.333333333333336%;}
	.col-5{width: 41.66666666666667%;}
	.col-6{width: 50.0%;}
	.col-7{width: 58.333333333333336%;}
	.col-8{width: 66.66666666666667%;}
	.col-9{width: 75.0%;}
	.col-10{width: 83.33333333333334%;}
	.col-11{width: 91.66666666666667%;}
	.col-12{width: 100.0%;}

	.col-offset-1{margin-left: 8.333333333333334%;}
	.col-offset-2{margin-left: 16.666666666666668%;}
	.col-offset-3{margin-left: 25.0%;}
	.col-offset-4{margin-left: 33.333333333333336%;}
	.col-offset-5{margin-left: 41.66666666666667%;}
	.col-offset-6{margin-left: 50.0%;}
	.col-offset-7{margin-left: 58.333333333333336%;}
	.col-offset-8{margin-left: 66.66666666666667%;}
	.col-offset-9{margin-left: 75.0%;}
	.col-offset-10{margin-left: 83.33333333333334%;}
	.col-offset-11{margin-left: 91.66666666666667%;}
	.col-offset-12{margin-left: 100.0%;}
}